/*Overwrite material styles here*/

table.responsive-table td:empty:before {
    display: block;
    min-height: 56px;
}

.valignicon {
    position: relative;
    transform: translateY(+8%);
}

div#wrapper {
    overflow: hidden;
}
div#first {
    width: 40%;
    height: 50px;
    float:left;
    text-align: right;
    vertical-align: middle;
    margin-right: 30px;
}
div#spacer {
    width: 20%;
    height: 50px;
}
div#second {
    width: 40%;
    height: 50px;
    float: left;
    text-align: left;
    vertical-align: middle;
    margin-left: 30px;
}

td > img {
    display: flex;
}
